body {
  background-color: #0e1845;
}
input {
  color: aliceblue;
  width: 400px;
  margin: 0 auto;
  background-color: #485178;
  box-shadow: 0px 0px 10px rgba(255, 254, 254, 0.1);
  text-align: center;
  display: block;
  font-weight: bold;
  padding: 10px;
  border: 1px;
  margin-top: 20px;
  border-radius: 5px;
}

button {
  background-color: rgb(115, 59, 211);
  color: white;
  display: flex;
  border: 1px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 90px;
}
p {
  color: rgba(223, 235, 245, 0.656);
  background-color: #50259a;
  width: 400px;
  margin: 0 auto;
  background-color: #485178;
  box-shadow: 0px 0px 10px rgba(255, 254, 254, 0.1);
  text-align: justify;
  display: block;
  font-weight: bold;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  margin-top: 20px;
}
